@import "tailwindcss";

@theme {
    --color-brand: #66CB66;
    --color-text: #FFFFFF;
    --color-black: #000000;
    --color-main: #252525;
    --color-alt: #161616;
    --color-link: #571FFF;
    --color-error: #FF0000;
    --color-warning: yellow;
}

@layer base {
    body {
        background-color: var(--color-main);
        color: var(--color-text);
        overscroll-behavior: none;
    }

    input, textarea {
        &:focus {
            outline: none;
        }
    }
}